@{
    ViewData["Title"] = "Our Restaurant Partners";
}

<h1>Our Restaurant Partners</h1>

<ul>
    <li>
        <a asp-controller="Shop" asp-action="Restaurant">
            Restaurant 1
        </a>
    </li>
    <li>
        <a asp-controller="Shop" asp-action="Restaurant">
            Restaurant 2
        </a>
    </li>
    <li>
        <a asp-controller="Shop" asp-action="Restaurant">
            Restaurant 3
        </a>
    </li>
</ul>

